html { height: 100%; }

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: $background-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
}

header.header {
    background: url('../images/header-background.png') #fff5e1;
    margin-bottom: 80px;

    .lead {
        align-self: center;
        font-size: 33px;
        line-height: 50px;
        font-weight: 600;
        color: $second-color;
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.main {
    max-width: 100%;
    flex-direction: column;
}

.main, .content { flex-grow: 1; }

.aside {
    margin-top: 20px;
    padding: 0;
    box-shadow: 0 2px 45px rgba(0, 0, 0, .1);
    border-radius: 3px;
}

.intro {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto 90px auto;
    text-align: center;

    h1 {
        margin-bottom: 10px;
        font-size: 28px;
    }

    p {
        font-size: 16px;
        line-height: 25px;
    }
}

.posts {
    width: 100%;
    list-style: none;

    span { display: flex; }
    .post-list { margin-left: auto; }
}

.highlight { max-width: 100%; }

footer.footer {
    background: #FFF5E1;
    color: $second-color;
    margin-top: 70px;
    padding: 25px 0;
    font-size: 20px;
    line-height: 56px;

    a, a:hover { text-decoration: none; }

    img {
        display: inline-block;
        vertical-align: top;
        height: 56px;
    }

    .manala {
        font-size: 60px;

        img { @include size(56px); }
    }

    .github img {
        @include size(32px);
        margin: 12px 0;
    }

    .elao {
        text-align: right;

        img {
            @include size(63px, 24px);
            margin: 15px 0 17px 2px;
        }
    }
}

@media (max-width: 767px) {
    header.header {
        > .container-fluid {
            .row { flex-direction: column-reverse; }
        }
        .lead {
            font-size: 22px;
            line-height: 35px;
            text-align: center;

            p { margin: 15px 0 35px 0; }
        }
    }

    .intro { margin-bottom: 35px; }

    .list { margin-bottom: 20px; }

    .list-item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        img { @include size(75px, auto); }
        p {
            margin: 0 0 0 30px;
            font-size: 15px;
            line-height: 20px;
            text-align: left;
        }
    }
}

@media (max-width: 576px) {
    .intro {
        padding: 0;
        margin: 0 0 50px 0;
        width: 100%;
        text-align: left;
        h1 {
            font-size: 20px;
            line-height: 26px;
        }
    }

    .posts {
        li { margin-bottom: 15px; }
        span { flex-direction: column; }
        .post-list { margin-left: 0; }
    }

    footer.footer {
        padding: 15px 0;
        text-align: center;

        .elao {
            text-align: center;
            font-size: 14px;

            img { @include size(50px, 20px); }
        }
    }
}
