body.homepage {
    padding-top: 0;

    .navbar {
        background: none;
        margin-bottom: 0;

        .logo {
            color: $main-color;
        }

        nav {
            margin-top: 40px;
            ul {
                li {
                    a {
                        color: $main-color;
                    }

                    a:hover, &.active a {
                        color: #FFF;
                        background-color: $main-color;
                    }
                }
            }
        }
    }
}
