.sidebar {
    nav.fixed {
        margin-left: 20px;
        position: fixed;

        ul {
            li {
                a {
                    font-size: 14px;
                    color: $text-color;
                    padding-left: 15px;
                    border-left: 2px solid transparent;
                    display: block;
                }

                &.active a, a:hover {
                    text-decoration: none;
                    border-left-color: $main-color;
                    color: $main-color;
                    text-decoration: none;
                }
            }
        }
    }
}
